<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fff;
        color: rgb(32, 63, 216);
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input {
        height: 28px;
        width: 70vw;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>SignUp Form</h1>
    <form method="" action="/post">
      <label for="">Email</label>
      <input type="text" name="email" />
      <label for="">Pasword</label>
      <input type="text" name="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
